html{
  box-sizing: border-box;
}

*, 
*::after, 
*::before{
  box-sizing: inherit;
  padding: 0px;
  margin: 0px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}